@media screen and (min-device-width:800px){
	body,html {
		font-size: 14px;
		line-height: 1.4;
	}
	main {
		width: 1000px;
		margin: 0 auto;
	}

	/*音乐列表 宽300 左对齐*/
	.music-top {
		width: 300px;
		float: left;
		text-align: left;
		background-color: white;
	}
	/*播放列表*/
	.musiclist .list-item {
		position: relative;
		padding: 8px 20px;
		cursor: pointer;
	}
	/*播放时 选中样式*/
	.musiclist .active {
		padding: 16px 20px;
		background-color: #90949e;
		color: white;
	}
	.musiclist .active .sort {
		color: white;
	}

	/*内容 歌词板背景*/
	.content {
		position: relative;
		z-index: 0;
		margin-left: 400px;
	}

	/*内容 歌词板背景*/
	.content .poster-panel {
		position: absolute;
		left: 30px;
		top: 30px;
		z-index: -1;
		width: 500px;
		height: 500px;
		border-radius: 250px;
		background-color: black;
		box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
	}
	.content .poster{
		width: 360px;
		margin: 100px;
		border-radius: 180px;
	}

	/*底部播放条*/
	footer .music-footer {
		position: relative;
		width: 1000px;
		margin: 0 auto;
	}
	footer .music-player .control {
		left: 220px;
	}
	footer .music-footer .timeline {
		position: absolute;
		left: 390px;
		top: 50%;
		transform: translate(0,-50%);
		cursor: pointer;
	}
	/*循环*/
	.music-footer .cycle {
		position: absolute;
		left: 820px;
		top: 50%;
		transform: translate(0,-50%);
		cursor: pointer;
	}

	/*音量轴*/
	.music-footer .volumeline {
		position: absolute;
		left: 880px;
		top: 50%;
		transform: translate(0,-50%);
		cursor: pointer;
	}
	.volumeline .bar {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translate(0,-50%);
		width: 50px;
	}
}