* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html,main {
	position: relative;
	width: 100%;
	height: 100%;
	font: 14px/1.4 Helvetica,Arial,sans-serif;
	color: #888;
}
a {
	text-decoration: none;
}
main section {
	width: 100%;
	height: calc(100% - 62px);
	float: left;
	display: none;
	background-color: #ddd;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
main > section:first-child {
	display: block;
}
section .item {
	padding: 26px 12px;
	margin-bottom: 10px;
	background-color: white;
}
section .item a {
	display: flex;
	align-items: flex-start;
	color: #888;
}
img {
	width: 80px;
	border-radius: 4px;
}
section .item .info {
	margin-left: 18px;
}
.item .info h2 {
	display: inline-block;
	font-size: 22px;
	color: black;
}
.item .info > .year {
	font-size: 22px;
	font-weight: bold;
}
.item .info .score {
	margin: 1px 0;
	font-weight: bold;
	font-size: 14px;
}
.item .info .star {
	display: inline-block;
	width: 55px;
	height: 11px;
	background: url(../image/star.png) no-repeat;
	background-position: 0 -11px;
}
.loading {
	text-align: center;
	display: none;
}
.loading span {
	font-size: 22px;
	display: inline-block;
	animation: 1s rotate linear infinite;
}
@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.search-box {
	width: 100%;
	text-align: center;
}
.search-box input {
	width: 80%;
	margin: 20px 0;
	padding: 10px 12px;
	border: none;
	border-radius:  4px 0 0 4px;
	border: 1px solid #ccc;
	border-right: none;
	outline: none;
}
.search-box .button {
	width: 120px;
	margin: 20px 0;
	padding: 10px 12px;
	border-radius: 0 4px 4px 0;
	background-color: #4fa25b;
	color: white;
}

/*底部*/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 62px;
	display: flex;
	text-align: center;
	border-top: 1px solid #ccc;
	background-color: white;
}
footer > div {
	padding: 6px 0;
	flex-grow: 1;
}
footer > div.active {
	color: #4fa25b;
}
footer > div > span:first-child {
	display: block;
	font-size: 24px;
}
